<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>skaben konsole</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="app">
      <div class="app__effects"></div>
      <div class="app__screen"></div>
      <div class="app__content"></div>
    </div>

    <script>

      // disable context menu
      document.body.addEventListener('contextmenu', function(_event) {
        _event.preventDefault();
      }, false);      

    </script>

  </body>
</html>
